.categories-container {
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin: 1rem;
}

h2 {
    font-size: x-large;
    font-weight: bold;
}

h3 {
    font-size: medium;
}

.category-title {
    cursor: pointer;
    user-select: none;
    padding: 4px 0;
    transition: color 0.2s;
}

ol,
ul {
    padding-left: 1rem;
}

li {
    font-size: small;
    list-style: none;
}

.subcategories {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sub-item {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.2s ease-in-out;
}

.sub-item:hover {
    background: #f0f0f0;
}

h3:hover {
    color: #007bff;
}

.subcategories li {
    margin-left: 10px;
    padding: 3px 0;
}