<div class="categories-container">
  <h2 class="categories-title">Categories</h2>

  @for (category of categories; track category.categoryId) {
  <div class="category-block">

    <h3 class="category-title" [class.active]="expandedCategoryId === category.categoryId"
      (click)="toggle(category.categoryId)">
      {{ category.name }}
    </h3>

    @if (expandedCategoryId === category.categoryId) {
    <ul class="subcategories">
      @for (sub of category.subCategories; track sub.categoryId) {
      <li class="sub-item" (click)="searchCategory(sub.categoryId)">
        {{ sub.name }}
      </li>
      }
    </ul>
    }
  </div>
  }
</div>