<div class="categories-container">
  <h2>Categories</h2>
  @for (category of categories; track category.categoryId) {
    <div class="category-block">

      <h3 (click)="toggle(category.categoryId)" class="category-title">
        {{ category.name }}
      </h3>

      @if (expandedCategoryId === category.categoryId) {
        <ul class="subcategories">
          @for (sub of category.subCategories; track sub.categoryId) {
            <li (click)="searchCategory(sub.categoryId)"  class="sub-item">
              {{ sub.name }}
            </li>
          }
        </ul>
      }
    </div>
  }
</div>
