
.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-body {
    flex-grow: 1;
    display: flex;

}
.content-area {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
}