.navbar-subcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    justify-content: center;
    padding: 0 20px; 
    width: 100%;
    height: 100%;
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.title-container{
    display: flex;
    align-items: center;
    gap:1rem
}
p{
    margin: 0;
    color: white;
}
.menu-button{
    width: 30px;
}