/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

.panel-menu{
    width: 100%;
}
.panel-menu .p-panelmenu-panel {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent;
}

.panel-menu .p-panelmenu-panel + .p-panelmenu-panel {
    margin-top: 0 !important;
}