/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
:root {
    --navbar-height: 64px;
}

.full-panel {
  width: 100%;
  height: 100%;
}
h3{
  font-size: 15pt;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-panel-header {
    display: none !important;
}
.discount{
    background-color: rgb(214, 252, 157);
    color: rgb(1, 119, 1);
    font-weight: bold;
    font-size: small;
}
.small-input {
  width: 8em;
  height: 1em;
  font-size: 0.8em;
}
.p-inputnumber-input.small-input {
    font-size: 9pt;
}
.p-inputnumber-input.small-input:focus {
    border-color: #ced4da !important;
    box-shadow: none !important;
}
