.item {
    height: 15rem;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-top: none;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    text-decoration: none;
}

h3 {
    margin-top: 1rem;
    color: black;
}

.specs {
    width: 100%;
    height: 100%;
    display: flex;
}

.product-image {
    width: 195px;
    height: 195px;
    object-fit: cover;
}

p {
    color: black;
}

.seller-name {
    font-size: x-small;
}

.rate-and-sold{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: 40%;
    p{
        margin: 0;
    }
}
.discount{
    background-color: rgb(214, 252, 157);
    color: rgb(1, 119, 1);
    font-weight: bold;
    font-size: small;
}
.name-and-price{
    width: 60%;
}
::ng-deep .p-panel-header {
    display: none;
}